{
    "mapbox": {
        "datasource": "osm",
        "key": "MAPBOX_TOKEN",
        "rate_limit": -1
    },
    "mapzen": {
        "datasource": "osm",
        "key": "MAPZEN_KEY",
        "rate_limit": -1
    },
    "graphhopper": {
        "datasource": "osm",
        "key": "GRAPHHOPPER_API_KEY",
        "rate_limit": -1
    },
    "openrouteservice": {
        "datasource": "osm",
        "key": "ORS_API_KEY",
        "rate_limit": -1
    },
    "google": {
        "datasource": "proprietary",
        "key": "GOOGLE_KEY",
        "rate_limit": -1
    },
    "tomtom": {
        "datasource": "proprietary",
        "key": "TOMTOM-API-KEY",
        "rate_limit": -1
    },
    "here": {
        "datasource": "proprietary",
        "key": "HERE-API-KEY",
        "rate_limit": -1
    }
}
